#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LEFT_ALT ESC    &kp Q  &kp W  &kp E         &kp R        &kp T        &kp Y         &kp U       &kp I                    &kp O    &kp P     &kp LEFT_BRACKET
&mt LEFT_SHIFT TAB  &kp A  &kp S  &kp D         &kp F        &kp G        &kp H         &kp J       &kp K                    &kp L    &kp SEMI  &mt RIGHT_SHIFT SQT
&mt LCTRL EQUAL     &kp Z  &kp X  &kp C         &kp V        &kp B        &kp N         &kp M       &kp COMMA                &kp DOT  &kp FSLH  &mt RCTRL BSLH
                                  &kp LEFT_WIN  &lt 1 SPACE  &lt 2 ENTER  &lt 2 DELETE  &lt 1 BSPC  &mt LEFT_SHIFT CAPSLOCK
            >;
        };

        lower_layer {
            bindings = <
&kp GRAVE             &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4      &kp N5                &kp N6                 &kp N7             &kp N8           &kp N9         &kp N0         &kp UNDERSCORE
&kp SLASH             &kp EXCL      &kp AT        &kp HASH        &kp DLLR          &kp PRCNT             &kp CARET              &kp AMPS           &kp STAR         &kp SQT        &kp SEMICOLON  &kp COLON
&mt LEFT_SHIFT EQUAL  &kp PLUS      &kp MINUS     &kp LEFT_BRACE  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp LESS_THAN  &kp GT         &kp RIGHT_SHIFT
                                                  &trans          &trans            &trans                &kp COMMA              &kp DOT            &kp DQT
            >;
        };

        raise_layer {
            bindings = <
&kp F1  &kp F2      &kp F3      &kp F4      &kp F5        &kp F6           &kp HOME         &kp PG_UP  &kp UP    &kp PAGE_DOWN  &kp INS           &kp PRINTSCREEN
&kp F7  &kp F8      &kp F9      &kp F10     &kp F11       &kp F12          &kp END          &kp LEFT   &kp DOWN  &kp RIGHT      &kp K_CALCULATOR  &kp K_LOCK
&none   &kp K_STOP  &kp C_PLAY  &kp K_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp PAUSE_BREAK  &none      &none     &none          &kp C_BRI_UP      &kp C_BRI_DEC
                                &trans      &trans        &trans           &trans           &trans     &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none          &none          &none          &bt BT_PRV     &bt BT_NXT     &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR_ALL
&sys_reset   &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &none         &none         &none         &none         &none         &sys_reset
                                           &trans         &none          &trans         &none         &trans        &trans
            >;
        };
    };
};
